{% extends "recruiter/base.html" %}


{% block content %}
<br><br><br>
<div class="w3-container">
<div class="w3-xxlarge">
    <a href=/jobs/company/{{job.company}}/ >
        {{job.company}}
    </a>
</div>
<div class="w3-xlarge">{{job.title}} ( {{job.job_type}} )</div>
<div class="w3-small">Posted on : {{job.posted_on}}</div>
<div class="w3-panel " >

    <p class="w3-row w3-large">
            <b>Category</b> : {{job.category}}
            </p>


    <p class="w3-row w3-large">
            <b>Requriments</b> :<br> {{job.requriments}}
        </p>   


        <p class="w3-row w3-large">
                <b>Number of Openings </b>: {{job.no_of_positions}}
            </p>

        <p class="w3-row w3-large">
                <b>Location </b>: {{job.posting_loc}}
            </p>
    
        <div class="w3-row">
            
            <p class="w3-row w3-large"><b>Deadline</b>  :  {{job.deadline}}
        </div>

        <div class=" w3-row w3-large  "><b>Recruiter</b> :  {{job.rec_email}}</div>
        
        {% if this_rec_job == True %}
        <div class="w3-container w3-padding">
        <a href=/jobs/delete/{{job.job_id}} </a>
        <button class="w3-button w3-round-large w3-black w3-hover-red w3-hover-border-amber">DELETE</button>
        </a>
        <br><br>
        </div>
        {% endif %}


{% endblock %}
