{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<br><br><br>
<input class="w3-input w3-border-black w3-animate-input" placeholder="Search">
<br><br>

<table class="w3-table">
    <tr>
        <th>Job ID</th>
        <th>Job Title</th>
        <th>Category</th>
        <th>Company</th> 
        

    </tr>
{% for job in joblist %}
    <tr>
        <td>    {{ job.job_id }} </td> <td> {{ job.title }} </td> <td> {{ job.category }} </td> <td> {{ job.company.company_name }} </td>
    </tr>
{% endfor %}
</table>

{% endblock %}